.banner {
    margin-bottom: 24px;
    background-position: center;
    background-size: cover;
    height: 50vh;
    padding-top: 200px;
    text-align: center;
    color: white;
}

.banner_matchshow {
    margin-bottom: 24px;
    background-position: center;
    background-size: cover;
    height: 50vh;
    padding-top: 200px;
    padding-left: 13.5%;
    text-align: left;
    color: white;
}

.banner_home {
    position: relative;
    height: 100vh;
    width: 100vw;
    //  margin-top:13%;
    // //  margin-bottom: 27%;
    //   margin-top: 230px;
    //   margin-bottom: 535px;
}

.home_video {
    z-index: -1;
}

.form-search {
    margin-top: -500px;
}

.home {
    margin-top: 100px;
}