.banner {
  margin-bottom: 24px;
  background-position: center;
  background-size: cover;
  height: 50vh;
  padding-top: 200px;
  text-align: center;
  color: white;
}

.banner_matchshow {
  margin-bottom: 24px;
  background-position: center;
  background-size: cover;
  height: 50vh;
  padding-top: 200px;
  padding-left: 13.5%;
  text-align: left;
  color: white;
}