.button {
  background-color: #2BFF8B;
  border: none;
  border-radius: 8px;
  color: #013D17;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
}

.button:hover {
  color: #013D17;
  background-color: #21e278;
  transition: 0.2s;
}

a:hover {
  text-decoration: none;
}

.button.position-top{
  position: absolute;
  margin-left: 16px;
  margin-top: 8px;
}

.button-match {
  height: 40px;
  width: 30%;
}


.toggle-content {
	display: none;
}

.toggle-content.is-visible {
	display: block;
}

.booking {
  width: 100%;
}

.button-dashboard {
  height: 40px;
  background-color: #2BFF8B;
  border: none;
  border-radius: 8px;
  color: #013D17;
  padding: 8px 8px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
}

.fas {
  color: black;
  position:relative; left: -10px; top:30px;
}

.button.small {
  padding: 4px 4px;
  margin-bottom: 4px;
  margin-top: 16px;
  display: block;
}

.button.delete {
  color: white;
  width: 28vw;
  background-color: #8A0707;
}
.review-form-btn{
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 0 20px;
  min-width: 160px;
  height: 52px;
  font-size: 16px;
  line-height: 1.2;
  background-color: #2BFF8B;
  margin-top: 20px;
}
.btn {
 transition: 5s;
}
