.button {
  background-color: #2BFF8B;
  border: none;
  border-radius: 8px;
  color: #013D17;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
  box-shadow: 3px 3px #00000016;

}

.button:hover {
  color: #013D17;
  background-color: #21e278;
  transition: 0.2s;
}

a:hover {
  text-decoration: none;
}

.button.position-top{
  position: absolute;
  margin-left: 16px;
  margin-top: 8px;
}

.button-match {
  height: 40px;
  width: 100%;
}


.toggle-content {
	display: none;
}

.toggle-content.is-visible {
	display: block;
}

.booking {
  width: 100%;
}

.button-dashboard {
  height: 40px;
  background-color: #2BFF8B;
  border: none;
  border-radius: 8px;
  color: #013D17;
  padding: 8px 8px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
}

.fas {
  color: black;
  position:relative; left: -10px; top:30px;
}

.button.small {
  padding: 4px 4px;
  margin-bottom: 4px;
  margin-top: 16px;
  display: block;
}

.button.delete {
  color: white;
  width: 28vw;
  background-color: #8A0707;
}