.button {
  background-color: #2BFF8B;
  border: none;
  border-radius: 8px;
  color: #013D17;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
}

.button:hover {
  color: #013D17;
  background-color: #21e278;
  transition: 0.2s;
}

a:hover {
  text-decoration: none;
}

.button.position-top{
  position: absolute;
  margin-left: 16px;
  margin-top: 8px; 
}

.button-match {
  height: 40px;
}


.toggle-content {
	display: none;
}

.toggle-content.is-visible {
	display: block;
}

