.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  flex-grow: 1;
  padding-right: 16px;
  padding-left: 16px;
}

.matches-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  flex-grow: 1;
  background-size: cover;
  height: 150px;
  border-radius: 1px;
  box-shadow: 1 1 10px rgba(0,0,0,0.2);
  justify-content: space-around;
  color: #1FE378;
  margin-right: 16px;
  padding: 16px;
  margin-top: 64px;
}

.match-card {
  border: 1px blue solid;
  border-radius: 1%;
  padding-top: 15px;
  padding-left: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 350px;
  height: 200px;
  color: #1FE378;
}

.cards_games {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 16px;
  justify-content: space-between;
  padding-left: auto;
}

.cards_home {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 32px;
  justify-content: center;
}
.cards_home1 {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 64px;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 32px;
}
.cardss {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: white;
  border-radius: 4px;
  margin-bottom: 16px;
  width: 184px;
 }
 .cardss1 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: rgb(231, 231, 231);
  border-radius: 4px;
  margin-bottom: 16px;
  width: 220px;
  padding-bottom: 10px;
  height: 400px;
 }
 .review-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color:white;
  border-radius: 4px;
  margin-bottom: 16px;
  width: 900px;
  padding-bottom: 10px;
  height: auto;
  align-items: center;
 }
 .review-card1 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color:white;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 16px;
  width: 900px;
  padding-bottom: 10px;
  height: 250px;
  align-items: center;
 }

 .cardss.games {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
    border-radius: 4px;
    margin-bottom: 16px;
    width: 250px;
 }

 .cardss h3 {
   font-size: 13px;
   padding-top: 6px;
 }

 .cardss p {
   font-size: 11px;
   margin-bottom: 7px;
 }

 .cardss.games h3 {
  font-size: 15px;
  padding-top: 6px;
}

.cardss.games p {
  font-size: 13px;
  margin-bottom: 7px;
}

.cardss:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card_top img {
  border-radius: 5px 5px 0 0;
}

.card_body {
  padding: 2px 8px;
}

// .top {
//   position: absolute;
//   right: 898px;
// }