#footer {
  // background: white;
  color: #888888;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

#footer a {
  color: #888888;
  font-size: 20px;
  width: 3%;
}

#footer a:hover {
  color: #0aad51;
}

#footer ul {
  justify-content: center;
}

.btn-insta {
  color: #FF0D52;
  font-size: 30px;
}

.btn-facebook {
  color: #4967AA;
  font-size: 30px;
}

.btn-google {
  color: #D54D3F;
  font-size: 30px;
}

.btn-twitter {
  color: #1EA1F2;
  font-size: 30px;
}
