.newcard{
  display: flex;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
  height: 100%;
}
.newcard a {
  color: white;
}
.newcard_matchshow{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 11px;
  height: 150px;
  width: 150px;
  position: absolute;
  top: 196px;
  height: 86px;
  width: 250px;
  background-color: #ffffffa8;
  border-radius: 4px;
  margin-left: 16px;
  padding: 3px;
}

.newcard_matchshow a {
  color: black;
}

.homepage {
  background-color: white;
  text-shadow: none;
  width: 600px;
  margin: 16px;
}
