.button {
  background-color: #2BFF8B;
  border: none;
  border-radius: 8px;
  color: #013D17;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
}